.sideBar {
  width: 100%;
  height: 100%;
  background-color: $menuBg;
  overflow: auto;
  overflow-x: hidden;
  max-width: 210px;
  .menu {
    height: 100%;
  }
  .el-menu {
    border-right: none;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 210px;
  }
  .el-submenu .el-menu-item,
  .el-submenu .el-submenu>.el-submenu__title{
    background-color: $subMenuBg!important;
    &:hover{
        background-color: $subMenuHover!important;
    }
  }
}
/*
注意点：
1.菜单主要用了el-menu 需要加 width  不然动画过渡没有
2.滚动条 全局写了样式  不要用el-scroller 并不好用
*/